﻿@section Scripts{
    @Scripts.Render("~/bundles/kendo")
    <script src="@Url.Content("~/Scripts/GeoCalculatorViewModel.js")" type="text/javascript"></script>
    }

<div class="jumbotron">
    <h1>Geo Calculator Portal</h1>
</div>
<div id="calculator-section" class="row">
    <div class="col-md-6">
        <h2>Enter a Start and End Location</h2>
        <form id="address-form">
            <div class="form-group">
                <label class="k-label" for="start-address-input">Start Location:</label>
                <input id="start-address-input" class="form-control" type="text" placeholder="Start" name="startAddress" data-bind="value: startAddress" data-role="textbox" required/>
            </div>
            <div class="form-group">
                <label class="k-label" for="end-address-input">End Location:</label>
                <input id="end-address-input" class="form-control" type="text" placeholder="End" name="endAddress" data-bind="value:endAddress" data-role="textbox" required/>
            </div>
            <div data-bind="visible:hasError()" class="alert alert-warning" role="alert">
                <p data-bind="text:errorMessage"></p>
            </div>
            <a class="btn k-button" id="submit-button" data-bind="click:onSubmit">Get Calculation</a>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Results</h2>
        <ul data-bind="source:requestResults" data-template="calculation-result-template"></ul>
    </div>
</div>
<script id="calculation-result-template" type="text/x-kendo-template">
    <li>
        <div>
            <strong>#:StartAddress#</strong> to <strong>#:EndAddress#</strong>
        </div>
        <div>
            <span><strong>Distance:</strong> #:Distance#</span> - <span><strong>Travel Time:</strong> #:TravelTime#</span>
        </div>
    </li>
</script>
